{% load article_tags %}
{% load static %}
<header>
    <div class="main" id="main_title">
        <a href={% url 'article:list' %}>{{ SITE_NAME }}</a>
    </div>

    <nav>
        <a href="{% url 'article:list' %}">Home</a>
        <a href="{% url 'article:all_posts' %}">All posts</a>
        {% get_pages as pages %}
        {% for page in pages %}
            <a href="{% url 'article:page_detail' page.slug %}">{{ page.title }}</a>
        {% endfor %}
        | <a id="dark-mode-toggle" onclick="toggleTheme()" href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
             class="feather feather-moon">
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
        </svg>
        </a>

        <script src="{% static 'js/themetoggle.js' %}"></script>
    </nav>
</header>
