{% extends "base.html" %}
{% load static %}
{% block title %}
    rcd的博客
{% endblock title %}
{% block content %}
    <div class="col-mb-12 col-tb-8 col-tb-offset-2">

        <div class="error-page">
            <h2 class="post-title">404 - 页面没找到</h2>
            <p>你想查看的页面已被转移或删除了, 要不要搜索看看: </p>
            <form method="get" action="{% url 'article:haystack_search' %}">
                <p><label>
                    <input type="text" name="q" class="text" autofocus/>
                </label></p>
                <p>
                    <button type="submit" class="submit">搜索</button>
                </p>
            </form>
        </div>

    </div><!-- end #content-->
{% endblock %}