{% extends "base.html" %}
{% load static %}
{% block title %}
    rcd的博客
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="col-mb-12 col-8" id="main" role="main">
            <h3 class="archive-title">
                {% if category %}
                    分类 {{ category }} 下的文章
                {% elif tag %}
                    标签 {{ tag }} 下的文章
                {% elif author %}
                    {{ author }} 发布的文章
                {% endif %}
            </h3>
            {% for article in page_obj %}
                <article class="post" itemscope itemtype="https://schema.org/BlogPosting">
                    <h2 class="post-title" itemprop="name headline">
                        <a itemprop="url"
                           href="{% url 'article:article_detail' article.slug %}">{{ article.title }}</a>
                    </h2>
                    <ul class="post-meta">
                        <li itemprop="author" itemscope itemtype="https://schema.org/Person">作者: <a
                                itemprop="name" href="{% url 'article:list-author' article.author.id %}"
                                rel="author">{{ article.author }}</a></li>
                        <li>时间:
                            <time datetime="{{ article.created | time }}"
                                  itemprop="datePublished">{{ article.created|date:'Y-m-d' }}</time>
                        </li>
                        <li>分类: <a
                                href="{% url 'article:list-category' article.category.slug %}">{{ article.category }}</a>
                        </li>
                        <li itemprop="interactionCount">
                            <a itemprop="discussionUrl"
                               href="{% url 'article:article_detail' article.slug %}#comments">评论</a>
                        </li>
                    </ul>
                    <div class="post-content" itemprop="articleBody">
                        {{ article.excerpt }}...
                    </div>
                </article>
            {% endfor %}

            {% if is_paginated %}
                <ol class="page-navigator">
                    {% if page_obj.has_previous %}
                        <li class="prev"><a href="?page={{ page_obj.previous_page_number }}">« 前一页</a></li>
                        <li class=""><a href="?page=1">1</a></li>
                        ...
                    {% endif %}
                    <li class="current"><a href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                    {% if page_obj.has_next %}
                        <li>...</li>
                        <li><a href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a></li>
                        <li class="next"><a href="?page={{ page_obj.next_page_number }}">后一页 &raquo;</a></li>
                    {% endif %}
                </ol>
            {% endif %}

        </div><!-- end #main-->
        {% include 'article/sidebar.html' %}
    </div><!-- end .row -->


{% endblock content %}