{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ page.title }}
{% endblock title %}

{% block content %}

    <div class="col-mb-12 col-8" id="main" role="main">
        <article class="post" itemscope="" itemtype="https://schema.org/BlogPosting">
            <h1 class="post-title" itemprop="name headline">
                <a itemprop="url" href="{% url 'article:page_detail' page.slug %}">{{ page.title }}</a>
            </h1>
            <div class="post-content" itemprop="articleBody">
                {{ page.body | safe }}</div>
        </article>

        {% include 'article/comment.html' %}
    </div>
    {% include 'article/sidebar.html' %}
{% endblock content %}